.shearch {
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 8px;
    width: 400px;
    background-color: #f2f2f2;
    font-size: 14px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  table{
    background-color: grey;
  }
  .shearch:focus {
    outline: none;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .shearch::placeholder {
    color: #999;
  }
  
  h1 {
    margin-top: 30px;
    font-size: 48px;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .table th,
  .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    font-weight: bold;
  }
  
  .pagination-controls {
    margin-bottom: 10px;
  }
  
  .btns-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .my-modal {
    border: solid 4px blue;
  }
  
  .my-modal .modal-header {
    background-color: lime;
  }
  
  .my-modal .modal-body {
    background-color: orange;
  }
  .btns-container > * {
    margin-right: 10px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
  }
  
  .btn-info:hover {
    background-color: #138496;
    border-color: #117a8b;
  }
  th:hover {
    cursor: pointer;
  }
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  .my-custom-modal-class{
    width: 10px;
  }
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
  .center-content{
    display: flex;
    flex-direction: column;
  }
  .title-dialog{
    justify-content: center;
    margin: 20px;
  }
  .btn-dialog{
    justify-content: center;
   
  }
  .crud{
    background-color: #17a2b8;
    border-radius: 20px;
    color: white;
  }
  @media only screen and (max-width: 600px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr {
      border: 1px solid #ccc;
    }
    td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }
    td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      content: attr(data-title);
      font-weight: bold;
    }
  }