<h1 style="margin-top: 30px" class="crud">CRUD</h1>
<input type="text" placeholder="Buscar" [(ngModel)]="searchText" (keyup)="search()" class="shearch">
<ng-template #confirmTemplate >
    <div class="modal-body" class="center-content">
        <div class="title-dialog">
      <p>Estas seguro de querer eliminar este empleado?</p>
    </div>
    <div class="btn-dialog">
      <button class="btn btn-danger" (click)="confirmDelete()" style="margin:10px">Confirmar</button>
      <button class="btn btn-secondary" (click)="bsModalRef!.hide()">Cancelar</button>
    </div>
</div>
  </ng-template>
<table class="table table-dark" >
    <tr>
        <th (click)="sortData('id')">ID</th>
        <th (click)="sortData('nombre')">Nombre</th>
        <th (click)="sortData('apellido')">Apellido</th>
        <th (click)="sortData('correo')">Correo</th>
        <th (click)="sortData('telefono')">Teléfono</th>
        <th (click)="sortData('departamento.nombre')">Departamento</th>
        <th (click)="sortData('municipio.municipio')">Municipio</th>
    </tr>
    <tbody>
       <tr *ngFor="let empleado of empleados | paginate: { itemsPerPage: 5, currentPage: p }">
            <td>{{ empleado.id }}</td>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.apellido }}</td>
            <td>{{ empleado.correo }}</td>
            <td>{{ empleado.telefono }}</td>
            <td>{{  empleado.municipio.departamento.nombre  }}</td>
            <td>{{ empleado.municipio.nombre  }}</td>
            <td>
                <button class="btn btn-info" style="margin-right: 5px;" (click)="openModal2(empleado.id)"><i class="fas fa-pencil-alt"></i> Editar</button>
                <button class="btn btn-danger" (click)="deleteEmpleado(empleado.id)"><i class="fas fa-trash-alt"></i> Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="btns-container">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <button class="btn btn-primary" style="margin-bottom: 10px;" (click)="openModal()"> Añadir Empleado</button>
</div>

