<div class="modal-content">
  <div class="container-top">
    <button class="btn btn-secondary right-button" (click)="cancel()"><i class="fas fa-times"></i></button>
  </div>
<h3 class="modal-tittle">Editar usuario</h3>

<form [formGroup]="editEmpleadoForm" (ngSubmit)="onSubmit()">
  <div class="father-container">
    <div class="child-container">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" formControlName="nombre" maxlength="50" (keypress)="onKeyPress($event)">
    <div style="margin-left: 10px; font-size: 12px; color: #999999;">{{nombreCounter}} characters remaining</div>
    <div *ngIf="editEmpleadoForm.get('nombre')?.invalid && editEmpleadoForm.get('nombre')?.touched">
      <small class="text-danger">El nombre es requerido</small>
    </div>
  </div>
  <div class="form-group">
    <label for="apellido">Apellido</label>
    <input type="text" class="form-control" id="apellido" formControlName="apellido" maxlength="50" (keypress)="onKeyPress($event)">
    <div style="margin-left: 10px; font-size: 12px; color: #999999;">{{apellidoCounter}} characters remaining</div>
    <div *ngIf="editEmpleadoForm.get('apellido')?.invalid && editEmpleadoForm.get('apellido')?.touched">
      <small class="text-danger">El apellido es requerido </small>
    </div>
  </div>
  <div class="form-group">
    <label for="correo">Correo</label>
    <input type="email" class="form-control" id="correo" formControlName="correo" maxlength="50">
    <div style="margin-left: 10px; font-size: 12px; color: #999999;">{{correoCounter}} characters remaining</div>
    <div *ngIf="editEmpleadoForm.get('correo')?.invalid && editEmpleadoForm.get('correo')?.touched">
      <small class="text-danger">El correo es requerido</small>
    </div>
  </div>
  <div class="form-group">
    <label for="telefono">Teléfono</label>
    <input type="text" class="form-control" id="telefono" formControlName="telefono" maxlength="8" (keypress)="onKeyPressTelefono($event)">
    <div style="margin-left: 10px; font-size: 12px; color: #999999;">{{telefonoCounter}} characters remaining</div>
    <div *ngIf="editEmpleadoForm.get('telefono')?.invalid && editEmpleadoForm.get('telefono')?.touched">
      <small class="text-danger">El telefono es requerido, minimo 8 caracteres</small>
    </div>
  </div>
</div>
<div class="child-container">
  <div class="form-group">
    <label for="nombre_departamento">Departamento</label>
    <select class="form-control" id="nombre_departamento" formControlName="nombre_departamento" (change)="onDepartmentChange(editEmpleadoForm.get('nombre_departamento')?.value)">
      <option value="">Seleccione un departamento</option>
      <option *ngFor="let department of departments" [value]="department.valor">{{ department.valor }}</option>
    </select>
    <div *ngIf="editEmpleadoForm.get('nombre_departamento')?.invalid && editEmpleadoForm.get('nombre_departamento')?.touched">
      <small class="text-danger">El departamento es requerido</small>
    </div>
  </div>
  <div class="form-group" style="margin-top: 27px;">
    <label for="nombre_municipio">Municipio</label>
    <select class="form-control" id="nombre_municipio" [value]="editEmpleadoForm.get('nombre_municipio')?.value" formControlName="nombre_municipio">
      <option value="">Seleccione un municipio</option>
      <option *ngFor="let municipality of municipalities" [value]="municipality.valor">{{ municipality.valor }}</option>
    </select>
    <div *ngIf="editEmpleadoForm.get('nombre_municipio')?.invalid && editEmpleadoForm.get('nombre_municipio')?.touched">
      <small class="text-danger">El municipio es requerido</small>
    </div>
  </div>
  <div class="form-group" style="margin-top: 27px;">
    <label for="ubicacion">Ubicación</label>
    <input type="text" class="form-control" id="ubicacion" formControlName="ubicacion" maxlength="230"> 
    <div style="margin-left: 10px; font-size: 12px; color: #999999;">{{ubicacionCounter}} characters remaining</div>
    <div *ngIf="editEmpleadoForm.get('ubicacion')?.invalid && editEmpleadoForm.get('ubicacion')?.touched">
      <small class="text-danger">La ubicacion es requerida</small>
    </div>
  </div>

</div>
</div>
<div class="btn-container">
  <button type="submit" class="btn btn-success">Añadir</button>
  <button (click)="cancel()" class="btn btn-secondary cancel">Cancelar</button>
</div>
</form>
  </div>